.container,.item{
    display: flex;
    flex-direction: row;
}
.item{
    justify-content: center;
    align-items: center;
}
.item-icon{
    width: 60px;
    height: 60px;
}
.item-text{
    font-size: 26px;
    color: #000;
}