@import '../common.scss';
@import '../color.scss';
@import './component.scss';

.container {
    margin: 20px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
}
.content {
    position: relative;
    padding: 30px;
    @extend .flex;
    flex-direction: column;
}

.row {
    padding: 10px 0;
    @extend .flex;
    flex-direction: row;
    align-items: flex-start;
}

.bottom {
    @extend .flex;
    flex-direction: row;
    align-items: center;
}

.label {
    margin-right: 30px;
}

.label-text {
    font-size: 32px;
    color: #000;
}

.value-text {
    font-size: 32px;
    color: rgb(39, 38, 38);
    ;
}

.price {
    color: red;
}

.button {
    position: absolute;
    right: 30px;
    bottom: 30px;
    @extend .flex;
    flex-direction: column;
    align-items: center;
}

.button-icon {
    margin-bottom: 6px;
    width: 50px;
    height: 50px;
}

.button-text {
    font-size: 28px;
    color: #000;
}