@import '../../platform.scss';
@import '../../pages/color.scss';

.container {
    @extend .flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    margin: 10px;
    height: 50px;
    padding: 0 20px;
    @extend .flex;
    justify-content: center;
    align-items: center;
    background: #dfdede;
}

.active-item {
    background: $main;
}

.item-text {
    color: #000;
    font-size: 28px;
    /*postcss-pxtransform rn eject enable*/
    white-space: nowrap;
    /*postcss-pxtransform rn eject disable*/
}

.active-item-text {
    color: #fff;
}