@import '../../platform.scss';

.line-input {
    @extend .flex;
    flex: 1;
    margin-left: 35px;
    height: 60px;
    align-items: center;
    font-size: 32px;
    @include border(1px ,solid, #ccc);
}


/*postcss-pxtransform rn eject enable*/

t-input {
    flex: 1;
}

/*postcss-pxtransform rn eject disable*/