@import '../../platform.scss';
@import '../color.scss';
@import './component.scss';

.container {
    margin: 40px 0;
    padding: 20px;
    background: #fff;
    border-radius: 16px;
}

.img-content {
    @extend .flex;
    flex-direction: row;
}

.title {
    height: 80px;
}

.title-text {
    font-size: 26px;
    color: $main;
}

.kf-item {
    @extend .flex;
    flex-direction: row;
    align-items: center;
    height: 60px;

    // p {
    //   width: 200px;
    // }
    // .close {
    //   /* position: absolute;
    //   top: -10px;
    //   right: -10px; */
    //   width: 20px;
    //   cursor: pointer;
    // }
}

.ml {
    margin-left: 20px;
}

.kf-item-content {
    flex: 1;
    @extend .flex;
    flex-direction: row;
}

.kf-item-close {
    width: 40px;
    height: 40px;
}

.kf-item-text {
    font-size: 26px;
    color: #000;
}

.input-item {
    margin: 10px 0;
    height: 60px;
    @extend .flex;
    flex-direction: row;
    align-items: center;
}

.img-item {
    margin: 0 20px;
    flex: 1;
}

.input-label {
    width: 200px;
    @extend .flex;
    flex-direction: row;
    align-items: center;
}

.img-label {
    @extend .flex;
    flex-direction: row;
    justify-content: center;
}

.item-label-text {
    font-size: 26px;
    color: #000;
}

.item-content {
    flex: 1;
    @extend .flex;
}

.input-box {
    border-radius: 10px;
    @include border(1px, solid, #ccc);
}

.text {
    flex: 1;
    padding-left: 20px;
    font-size: 26px;
    color: #000;
}

.add-kf-btn {
    margin: 20px 0;
    height: 60px;
    @extend .flex;
    justify-content: center;
    align-items: center;
    background: $main;
}

.add-kf-btn-text {
    font-size: 24px;
    color: #fff;
}

.img {
    width: 100%;
    height: 300px;
}