@import '../color.scss';
@import '../../platform.scss';
.input {
    flex: 1;
    padding-left: 20px;
    font-size: 26px;
    color: #000;
}



/*postcss-pxtransform rn eject enable*/

t-input {
    flex: 1;
}

/*postcss-pxtransform rn eject disable*/