
@import '../../platform.scss';

.card {
    margin: 0 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    @include border(1px, solid, #ccc);
}

.card-title {
    @extend .flex;
    flex-direction: column;
    height: 60px;
    justify-content: center;
    padding-left: 20px;
    @include borderD(bottom, 1px, solid, #ccc);
}

.card-title-text {
    font-size: 30px;
    color: #000;
}

.card-list-row {
    @extend .flex;
    flex-direction: row;   
}
.card-list-row-border{
   
}
.card-list{
    @extend .flex;
    flex-wrap: wrap;
}
.card-list-item {
    width: 47%;
    @extend .flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}
.card-list-item-label,.card-list-item-value{
    font-size: 30px;
    color: #000;
}