@import '../../platform.scss';
@import '../color.scss';
.container {
    background: #fff;
}

.border {
    @include borderD(bottom, 1px, solid, rgba(0, 0, 0, 0.2));
}

.content {
    padding: 10px 20px;
}

.top {
    height: 80px;
    @extend .flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-left,
.top-right {
    @extend .flex;
    flex-direction: row;
    align-items: center;
}

.title {
    font-size: 28px;
    color: #2E2E2E;
}

.time {
    font-size: 26px;
    color: #2E2E2E;
}

.center {
    height: 100px;
    @extend .flex;
    flex-direction: row;
}

.center-left {
    flex: 1;
    @extend .flex;
    flex-direction: row;
}

.item {
    flex: 1;
    margin-right: 10px;
    @extend .flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.item-label {
    font-size: 30px;
    color: #000;
}

.item-value {
    font-size: 30px;
    color: #1cbb24;
}

.center-right {
    @extend .flex;
    flex-direction: column;
    justify-content: space-between;
}

.tag {
    height: 42px;
    padding: 0 30px;
    @extend .flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.xh {
    background: #1cbb24;
}

.cd {
    background: #3cbaf7;
}

.tag-text {
    font-size: 30px;
    color: #fff;
}

.bottom {
    @extend .flex;
    flex-direction: column;
}
.origin{
    margin-top: 20px;
    @extend .flex;
    flex-direction: row;
    justify-content: space-between;
}
.origin-text{
    font-size: 24px;
    color: #000;
}

.desc-item {
    height: 60px;
    @extend .flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.desc-left {
    @extend .flex;
    flex-direction: row;
}

.desc-item-label {
    font-size: 24px;
    color: $main;
}

.desc-item-value {
    font-size: 24px;
    color: #000;
}

.detail-btn {
    height: 50px;
    padding: 0 20px;
    @extend .flex;
    justify-content: center;
    align-items: center;
    background: #2da22e;
    border-radius: 6px;
}

.detail-btn-text {
    font-size: 24px;
    color: #fff;
}

.offer{
    @extend .flex;
    flex-direction: row;
    justify-content: space-between;
}
.offer-left{
    @extend .flex;
    flex-direction: column;
    justify-content: center;
}
.offer-left-top{
    flex: 1;
}
.jc-label{
    margin-right: 10px;
    font-size: 32px;
    color: $main;
}
.jc-value{
    font-size: 28px;
    color: #b4b4b4;
}
.offer-left-bottom{
    flex: 1;
}
.ykj-text{
    font-size: 32px;
    font-weight: bold;
    color: $main;
}
.offer-right-top{
    flex: 1;
}
.offer-right-bottom{
    flex: 1;
}
.offer-right{
    @extend .flex;
    flex-direction: column;
    justify-content: center;
}
.offer-right-top{
    flex: 1;
}
.offer-right-bottom{
    flex: 1;
}
.price-value{
    font-size: 32px;
    color: $main;
}
.price-label{
    font-size: 28px;
    color: #b4b4b4;
}
.weight-label{
    font-size: 30px;
    color: #b4b4b4;
}
.weight-value{
    font-size: 28px;
    color: #000;
}