@import '../../platform.scss';
@import '../color.scss';

.container {
    height: 100%;
    padding-bottom: 50px;
    position: relative;
    background: #fff;
}

.terms {
    margin: 20px 0;
    @extend .flex;
    flex-direction: row;
    padding: 10px 20px;
    background: #fff;
    @include borderD(top,4px,solid,#d8d8d8);
    @include borderD(bottom,4px,solid,#d8d8d8);
}

.terms-label {
    width: 100px;
}

.terms-label-text {
    font-size: 28px;
    color: $main;
}

.terms-item {
    height: 40px;
    @extend .flex;
    flex-direction: row;
    align-items: center;
}

.terms-item-text {
    font-size: 28px;
    color: #000;
}

//btn-group样式
.btn-group {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    @extend .flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button {
    padding: 0 20px;
    height: 80px;
    @extend .flex;
    flex-direction: row;
    align-items: center;
    background: $main;
}

.button-icon {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.button-text {
    font-size: 28px;
    color: #fff;
}

.link-btn-group {
    padding: 0 20px;
    padding-bottom: 160px;
}

.margin {
    margin: 20px;
}

.link-button {
    margin-top: 20px;
    padding: 10px 0;
    @extend .flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #ccc;
}

.link-button-text {
    font-size: 30px;
    color: $main;
}