@import '../common.scss';
@import '../color.scss';
.container {
    height: 100%;
    position: relative;
    background: #fff;
}

//btn-group样式
@include item;
.link-btn-group {
    padding: 0 20px;
}

.margin {
    margin: 20px;
}

.link-button {
    margin-top: 20px;
    padding: 10px 0;
    @extend .flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #ccc;
}

.link-button-text {
    font-size: 30px;
    color: $main;
}
