@import '../../platform.scss';

.tinput{
    @extend .flex;
    height: 60px;
    align-items: center;
    flex: 1px;
    margin-left: 35px;
    @include border(1px,solid,rgba(0, 0, 0, 0.2));
}
.Imgdetails{
    width: 100%;
    
}
/*postcss-pxtransform rn eject enable*/

t-input {
    flex: 1;
}

/*postcss-pxtransform rn eject disable*/