@import '../../platform.scss';
.item-input {
    flex: 1;
    font-size: 28px;
    color: rgb(47, 47, 47);
}

.picker-btn {
    @extend .flex;
    justify-content: center;
}

.submit-button {
    margin: 20px;
    margin-top: 45px;
    @extend .flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background: #32b7f7;
    height: 85px;
    border-radius: 15px;
}

/*postcss-pxtransform rn eject enable*/

t-input {
    flex: 1;
}

/*postcss-pxtransform rn eject disable*/