@import '../../platform.scss';

.tinput{
    @extend .flex;
    height: 60px;
    align-items: center;
    flex: 1px;
    margin-left: 35px;
    @include border(1px,solid,#000);
}
.Imgdetails{
    width: 100%;
    
}
.share-img{
    height:80px;
    width: 100px;
    margin-right: 5px;
}
/*postcss-pxtransform rn eject enable*/

t-input {
    flex: 1;
}

/*postcss-pxtransform rn eject disable*/