@import '../../platform.scss';
.container {
    flex: 1;
    height: 100%;
    @extend .flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.item {
    @extend .flex;
    flex-direction: row;
}

.toogle-img {
    width: 40px;
    height: 40px;
}

.label {
    margin-left: 4px;
    font-size: 28px;
    color: #000;
}