@import '../../platform.scss';

.container {
    height: 100%;
    position: relative;
    background: #d8d8d8;
}
.scroll-container {
    position: relative;
    background: #d8d8d8;
}

.list {
    background: #d8d8d8;
}

.swiper {
    width: 100%;
    height: 300px;
}

.banner-item {
    width: 100%;
}