@import '../../platform.scss';
.container {
    position: relative;
    height: 100%;
    background: #f3f3f3;
}

.swiper {
    width: 100%;
    height: 300px;
}

.banner-item {
    width: 100%;
}

.list {
    margin-top: 60px;
}