@import '../../platform.scss';
@import '../../pages/color.scss';
.tag{
    margin-left: 10%;
    font-size: 24px;
    color: #000;
}
.pathway-box{
    margin-top: 20px;
    @extend .flex;
    flex-direction: column;
    align-items: center;
}
.pathway {
    width: 80%;
    height: 10px;
    background: $main;
    border-radius: 10px;
    position: relative;
}

.start,
.end {
    position: absolute;
    top: -10px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    @extend .flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    @include border(1px, solid, #ccc);
}

.ball {
    width: 15px;
    height: 15px;
    background: $main;
    border-radius: 15px;
}

.content {
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
    @extend .flex;
    flex-direction: row;
    justify-content: space-between;
}

.item {
    padding: 0 6px;
    width: 40px;
    @extend .flex;
    justify-content: center;
    align-items: center;
}

.item-text {
    font-size: 24px;
    color: #000;
}