@import '../../platform.scss';
.container {
    background: #fff;
    padding: 10px 20px;
    @include borderD(bottom, 1px, solid, rgba(0, 0, 0, 0.2));
}

.border {
    @include borderD(bottom, 1px, solid, rgba(0, 0, 0, 0.2));
}


.top {
    height: 60px;
    @extend .flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 28px;
    color: #2E2E2E;
}

.time {
    font-size: 26px;
    color: #2E2E2E;
}

.center {
    height: 100px;
    @extend .flex;
    flex-direction: row;
}

.item {
    flex: 1;
    @extend .flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.item-label {
    font-size: 30px;
    color: #000;
}

.item-value {
    font-size: 30px;
    color: #1cbb24;
}
