@import '../common.scss';
@import '../color.scss';
@import '../../platform.scss';
@import './component.scss';
.container {
    height: 100%;
    @extend .flex;
    flex-direction: column;
    background: #fff;
}

//btn-group样式
@include item;
.demand-list {
    flex: 1;
    /*postcss-pxtransform rn eject enable*/
    overflow: scroll;
    /*postcss-pxtransform rn eject disable*/
}

.condition {
    //margin: 10px;
    //border-radius: 10px;
    @include borderD(top, 1px, solid, #ccc);
    @include borderD(bottom, 1px, solid, #ccc);
}

.condition-title {
    margin-bottom: 10px;
    @extend .flex;
    padding: 0 20px;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    background: $main;
    @include borderD(bottom, 1px, solid, #ccc);
}

.condition-title-text {
    font-size: 30px;
    color: #fff;
}

.condition-content {
    padding: 20px;
}

.bottom {
    @extend .flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-left,
.bottom-right {
    @extend .flex;
    flex-direction: row;
    align-items: center;
}

.best-price {
    @extend .flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.best-price-value {
    font-size: 34px;
    color: red;
}

.best-price-label {
    font-size: 24px;
    color: #000;
}
.submit{
    margin: 20px;
    height: 80px;
    @extend .flex;
    justify-content: center;
    align-items: center;
    background: $main;
    border-radius: 10px;
}
.submit-text{
    font-size: 30px;
    color: #fff;
}