@import '../common.scss';
@import '../color.scss';
@import '../../platform.scss';
@import './component.scss';
.container {
    height: 100%;
    @extend .flex;
    flex-direction: column;
    background: #dfdede;
}

.list {
    flex: 1;
    /*postcss-pxtransform rn eject enable*/
    overflow: auto;
    /*postcss-pxtransform rn eject disable*/
}

.bottom {
    height: 80px;
    padding: 0 20px;
    @extend .flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    @include borderD(top,1px,solid,#ccc);
}
.checked-box{
    @extend .flex;
    flex-direction: row;
    align-items: center;
}
.checked-icon{
    margin-top: 10px;
    margin-right: 10px;
    width: 60px;
    height: 60px;
   
}
.checked-text{
    font-size: 26px;
    color: #000;
}
.button{
    height: 60px;
    padding: 0 30px;
    @extend .flex;
    justify-content: center;
    align-items: center;
    background: $main;
    border-radius: 60px;
}
.button-text{
    font-size: 26px;
    color: #fff;
}