@import '../color.scss';
@import '../../platform.scss';

.tool-item{
    @extend .flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    height: 100%;
}

/*postcss-pxtransform rn eject enable*/
.getPhoneNumber{
    border: none!important;
    background: none;
    font-size: 30px;
    color: #000;
    outline: none;
}
/*postcss-pxtransform rn eject disable*/