@import '../color.scss';
@import '../../platform.scss';


/*postcss-pxtransform rn eject enable*/
.getPhoneNumber{
    border: none!important;
    background: none;
    font-size: 30px;
    color: #000;
    outline: none;
}
/*postcss-pxtransform rn eject disable*/