@import '../../platform.scss';
@import './component.scss';
.container {
    background: #dfdede;
}

.user-card {
    @extend .flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 300px;
    background: #fff;
}

.user-info {
    @extend .flex;
    flex-direction: row;
    padding: 0 30px;
}

.user-icon {
    margin-right: 20px;
    width: 140px;
    height: 140px;
}

.user-info-detail {
    @extend .flex;
    flex-direction: column;
    justify-content: flex-end;
}
.auth{
    @extend .flex;
    flex-direction: row;
    align-items: center;
}
.company-name,
.mobile {
    color: #000;
}

.company-name {
    font-size: 30px;
}
.auth-btn{
    @extend .flex;
    flex-direction: row;
    align-items: center;
}
.auth-text{
    font-size: 24px;
    color: #000;
}
.mobile {
    font-size: 30px;
}

.tool {
    margin-top: 40px;
    @extend .flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
}
.tool-item-wrapper{
    flex:1;
}
.tool-item{
    @extend .flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    height: 100%;
}

.tool-item-icon {
    width: 60px;
    height: 60px;
}

.tool-item-label {
    font-size: 24px;
    color: #000;
}

.list-group {
    margin-top: 10px;
}

.list {
    margin-bottom: 10px;
    padding: 0 20px;
    background: #fff;
}
.mb{
    margin-bottom: 20px;
}
.item {
    height: 100px;
    @extend .flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-border {
    @include borderD(bottom, 1px, solid, #ccc);
}

.item-left,
.item-right {
    @extend .flex;
    flex-direction: row;
    align-items: center;
}

.item-icon {
    margin-right: 20px;
    width: 48px;
    height: 48px;
}

.item-label,
.item-value {
    font-size: 30px;
    color: #000;
}

.item-right-icon {
    width: 28px;
    height: 28px;
}
.authorization{
    @extend .flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.authorization-text{
    font-size: 30px;
    color: #000;
}