.container {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 10px 20px;
}

.content {
    height: 60px;
    padding: 0 20px;
    /*postcss-pxtransform rn eject enable*/
    display: flex;
    /*postcss-pxtransform rn eject disable*/
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
}

.search-input {
    font-size: 20px;
}

.icon-btn-group {
    /*postcss-pxtransform rn eject enable*/
    display: flex;
    /*postcss-pxtransform rn eject disable*/
    flex-direction: row;
    align-items: center;
}

.mr {
    margin-right: 20px;
}

.icon-btn {
    width: 40px;
    height: 40px;
}