@import '../../platform.scss';

.container {
    padding: 10px 20px;
}

.fixed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}

.content {
    height: 60px;
    padding: 0 20px;
    /*postcss-pxtransform rn eject enable*/
    display: flex;
    /*postcss-pxtransform rn eject disable*/
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
}


.input-box {
    flex: 1;
}

.search-input {
    width: 100%;
    font-size: 14px;
}

.icon-btn-group {
    /*postcss-pxtransform rn eject enable*/
    display: flex;
    /*postcss-pxtransform rn eject disable*/
    flex-direction: row;
    align-items: center;
}

.mr {
    margin-right: 20px;
}
.icon-btn-box {
    @extend .flex;
    justify-content: center;
    align-items: center;
}
.icon-btn {
    width: 40px;
    height: 40px;
}

.clear-btn {
    @extend .flex;
    justify-content: center;
    align-items: center;
}

.clear {
    font-size: 28px;
    color: #60b9f2;
}

/*postcss-pxtransform rn eject enable*/
t-input,
input {
    flex: 1;
    font-size: 30px;
}



/*postcss-pxtransform rn eject disable*/