@import '../../platform.scss';

.img-details{
    width: 100%;
    
}
.share-img{
    height:80px;
    width: 100px;
    margin-right: 5px;
}
/*postcss-pxtransform rn eject enable*/

t-input {
    flex: 1;
}

/*postcss-pxtransform rn eject disable*/