@import '../../platform.scss';

.img-details{
    width: 100%;
    
}
.share-img{
    height:80px;
    width: 100px;
    margin-right: 5px;
}
/*postcss-pxtransform rn eject enable*/

.share-button::after {
    border: none;
}
/*postcss-pxtransform rn eject disable*/