@import '../common.scss';
@import '../color.scss';
@import '../../platform.scss';
@import './component.scss';

.container {
    height: 100%;
    position: relative;
    background: #dfdede;
}

.chunk {
    margin: 10px 0;
    padding: 30px;
    background: #fff;
}

.chunk-title-text {
    font-size: 32px;
    color: #000;
}

.layout {
    @extend .flex;
    flex-direction: row;
}

.layout-title {
    padding-right: 20px;
}

.layout-title-text {
    font-size: 28px;
    color: #000;
}

.layout-content-row {
    margin: 10px 0;
    flex: 1;
    @extend .flex;
    flex-direction: row;
    align-items: center;

}

.layout-content-column {
    @extend .flex;
    flex-direction: column;
    align-items: flex-start;
}

.full {
    flex: 1;
}

.p-text {
    font-size: 28px;
    color: #000;
}

.label {
    font-size: 28px;
    color: #000;
}

.margin-label {
    margin: 0 20px;
    font-size: 28px;
    color: #000;
}

.submit {
    margin: 50px 30px;
    height: 80px;
    @extend .flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: $main;
    color: #fff;
}