@import '../common.scss';
@import '../color.scss';
@import '../../platform.scss';
@import './component.scss';
.container {
    height: 100%;
    @extend .flex;
    flex-direction: column;
    background: #dfdede;
}
.chunk{
    margin: 10px 0;
    padding: 30px;
    background: #fff;
}
.chunk-title-text{
    font-size: 32px;
    color: #000;
}

.layout{
    @extend .flex;
    flex-direction: row;
}
.layout-title{
    padding-right: 20px;
}
.layout-title-text{
    font-size: 28px;
    color: #000;
}
.layout-content-row{
    @extend .flex;
    flex-direction: row;
}
.layout-content-column{
    @extend .flex;
    flex-direction: column;
    align-items: flex-start;
}
.submit{
    margin: 30px;
    height: 60px;
    @extend .flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: $main;
    color: #fff;
}