@import '../../platform.scss';
@import './component.scss';
.container {
    height: 100%;
    padding: 0px 20px;
    @extend .flex;
    flex-direction: column;
    background: #fff;
}

.title-name {
    height: 100px;
    @extend .flex;
    flex-direction: row;
    align-items: center;
}

.title {
    color: #000;
    font-size: 40px;
}

.line-container {
    height: 80px;
    @extend .flex;
    flex-direction: row;
    align-items: center;
}

.laber {
    color: #000;
    font-size: 35px;
}

.content {
    color: #747474;
    font-size: 30px;
}

.map {
    flex: 1;
}
