@import '../../platform.scss';
.input {
    flex: 1;
    height: 100%;
    font-size: 28px;
    color: #000;
}


/*postcss-pxtransform rn eject enable*/

t-input {
    flex: 1;
}

/*postcss-pxtransform rn eject disable*/