@import '../../platform.scss';
.input {
    flex: 1;
    height: 100%;
    font-size: 28px;
    color: #000;
}
.column-select {
    margin-right: 20px;
    margin-bottom: 20px;
}
.row-select{
    margin-left: 20px;
}
/*postcss-pxtransform rn eject enable*/

t-input {
    flex: 1;
}

/*postcss-pxtransform rn eject disable*/