//下列代码是小程序端的taro-ui样式 编译rn代码时需注释
@import "~taro-ui/dist/style/components/tabs.scss";
@import "~taro-ui/dist/style/components/action-sheet.scss";
@import "~taro-ui/dist/style/components/modal.scss";
@import "~taro-ui/dist/style/components/activity-indicator.scss";
page {
    height: 100%;
}

//自定义组件再被t-button包裹的时候宽度不是百分百
/*postcss-pxtransform rn eject enable*/

item {
    width: 100%;
}

t {
    width: 100%;
}

scroll-view {
    flex: 1;
}

/*postcss-pxtransform rn eject disable*/