@import '../../platform.scss';
.container{
    height: 100%;
    background: white;
    padding: 0px 20px;
}
.box{
    @extend .flex;
    align-items: center;
       height: 130px;
       width: 100%;
}
.tinput{
    flex:1px;
    margin-left: 10px;
}
.line{
    height: 10px;
    width: 100%;
    background: #ececec;
}
.card{
    position: relative;    
    @include border(1px,solid,rgba(0, 0, 0, 0.2));
    margin-top: 10px;
    height:300px;
    width:100%;    
}
.cardlogos{
    position: absolute;
    bottom: 0px;
    right:0px;
    height: 50px;
}
.logosImg{
    height: 50px;
    width: 50px
}
