@import '../../platform.scss';
@import '../color.scss';
.container {
    flex: 1;
    height: 100%;
    background: #f3f3f3;
}

.header {
    @extend .flex;
    flex-direction: row;
    @include borderD(bottom, 1px, solid, #e8e8e8);
}

.header-item {
    @extend .flex;
    flex: 1;
    height: 100px;
    justify-content: center;
    align-items: center;
    background: #fafafa;
}

.header-item-text {
    font-size: 36px;
    color: #000;
}


.body{
    background: #fafafa;
}
.body-row,.body-row-item {
    @extend .flex;
    flex-direction: row;
}
.body-row-item{
    flex: 1;
    height: 80px;
    justify-content: center;
    align-items: center;
}